{% extends 'base.html' %} {% block content %}

<!-- Header -->
<header class="bg-dark py-5">
  <div class="text-center text-white">
    <h1 class="display-4 fw-bolder">About Us</h1>
    <p class="lead fw-normal text-white-50 mb-0">Welcome to our store</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p>
          We are a team of professionals dedicated to providing the best online
          shopping experience. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Quisque at urna non nisl lacinia aliquam sagittis
          eget est. Aliquam sapien dolor, ultrices eu vehicula id, porttitor ac
          orci. In sodales dapibus dictum. Nullam suscipit, risus sed vestibulum
          tristique, ipsum arcu ornare massa, a ullamcorper mauris odio a quam.
          Sed sollicitudin purus mauris, quis placerat quam hendrerit et.
          Curabitur vel pulvinar risus, a commodo urna. Proin consectetur
          pretium ex sit amet posuere. Mauris condimentum, leo ac tempor
          vulputate, ligula libero blandit ante, eget auctor dolor ipsum sed
          quam. Suspendisse tortor purus, consectetur vitae lorem id, euismod
          semper eros. Nullam venenatis, lorem sit amet euismod porta, elit
          velit vehicula justo, bibendum congue odio est vel risus. Sed in ex
          metus. Morbi ornare sollicitudin erat vel finibus. Praesent et
          pulvinar nulla. Maecenas egestas metus nisl, non tempor arcu accumsan
          at. Morbi dignissim elementum libero, a vehicula est tincidunt a.
          Vestibulum volutpat nulla dui, at tincidunt est dapibus sed. Donec
          cursus quis lorem quis imperdiet. Nunc luctus justo vitae eros
          molestie, nec ultrices libero ullamcorper. Suspendisse hendrerit quis
          nisl non sodales. Nam dignissim molestie augue sit amet accumsan.
          Aliquam bibendum eros mauris, vel pellentesque odio feugiat at. Ut
          nunc urna, posuere vel tincidunt sit amet, pellentesque sit amet enim.
          Nam suscipit urna nibh, ac consequat odio feugiat vel. Aenean dapibus
          nec orci et sodales. Proin consectetur urna nec eros accumsan, eget
          laoreet lacus congue. Ut faucibus eu elit consequat varius. In sit
          amet urna ut justo elementum blandit ut sit amet quam. Curabitur
          auctor ex in nunc tempor, quis porttitor tellus lobortis.
        </p>
      </div>
    </center>
  </div>
  {% endblock %}
</div>
